In [ ]:
print("Hello World")

Hello World

**Variables & Data Types**

In [ ]:
name = "Virat Kohli"
age = 30
salary = 60000.50
is_active = True

print(type(name))
print(type(age))
print(type(salary))
print(type(is_active))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

**Operators & Input/Output**


```
Operators

Arithmetic: + - * / %

Comparison: == != > <

Logical: and or not

```

In [ ]:
print(10-5)
print(10 > 7)
print(10**2)
print(10 != 10)

5
True
100
False

In [ ]:
10 // 3

3

**Conditional Statements**


*   if, elif, else
*   Indentation (very important!)

In [ ]:
marks = 60

if marks >= 90:
    print("Grade A")
elif marks >= 60:
    print("Grade B")
else:
    print("Grade C")


name = "Akash"
if not name or marks > 60:
    print("Hello Akash")

Grade B

**Loops**


*   for
*   while
*   range()

In [ ]:
count = 1
while count <= 5:
    print(count)
    count += 1

In [ ]:
num = 5
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
range(1, 11)

range(1, 11)

**Data Structures**

**Tuple**

In [ ]:
point = (10, 20)
print(id(point))
point = (10, 20, 30)
print(id(point))

133005667579904
133005669316352

In [ ]:
point = (10, 20)
point = (10, 20, 30)
print(point)
len(point)
dir(point)

(10, 20, 30)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**Dictionaries**

In [ ]:
student = {
    "name": "Ravi",
    "age": 21,
    "course": "Python"
}

print(student["name"])

# Print only keys
print(student.keys())

# Print only values
print(student.values())

# Print key and values
print("\n")
for key, value in student.items():

    print(key, ":",value)

Ravi
dict_keys(['name', 'age', 'course'])
dict_values(['Ravi', 21, 'Python'])


name : Ravi
age : 21
course : Python

**Lists (Dynamic Arrays)**

In [ ]:
numbers = [10, 20, 30, 40, "Something", True, 23.23]

# Access & Update

print(numbers[0])
numbers[1] = 25
print(numbers)

10
[10, 25, 30, 40, 'Something', True, 23.23]

In [ ]:
# Common Operations
numbers = [10, 20, 30, 40]

numbers.append(50)
numbers.insert(1, 15)
numbers.remove(30)
numbers.pop()

for i, n in enumerate(numbers):
    print("\nnumber : ",n, i)

number :  10 0

number :  15 1

number :  20 2

number :  40 3

**Sets (Unique Collection)**

In [ ]:
nums = {1, 2, 3, 3, 4}
print(nums)

{1, 2, 3, 4}

In [ ]:
nums.add(5)
nums.remove(2)
print(nums)

**String**

In [ ]:
location = "Mangalore"
location1 = 'Mangaluru'

name = "Shashank"

myself = f"My name is {name} and I live in {location}"
print(myself)

loc = """
Hello world,
How are you ?
"""

"""
SOme documentations

"""

print(location)
print(location1)

In [ ]:
b"some"

b'some'

**Classes & Objects (OOP Basics)**

In [ ]:
class Person:
  pass

**Adding constructor and attributes**

In [ ]:
from typing import Optional

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Shashank", 23)
p2 = Person("Akash", 28)

p1.name
p2.name
type(p1)
id(p1)

138426543628768

**Creating Object (Instance)**

In [ ]:
person = Person("Ravi", 30)
print(person.name)
print(person.age)

**Methods (Functions Inside Class)**

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print("Hello, my name is", self.name)

    # def __str__(self):
    #     return "Person: " + self.name

p = Person("Ravi")
p.greet()
print("\n")
# print(p)

**Single Inheritance**

In [ ]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):
        print("Dog barks")
    pass

d = Dog()
d.speak()

**Polymorphism**

In [ ]:
class Bird:
    def fly(self):
        print("Bird flies")

class Airplane:
    def fly(self):
        print("Airplane flies")

def make_it_fly(obj):
    obj.fly()

make_it_fly(Bird())
make_it_fly(Airplane())

**Composition (HAS-A Relationship)**

In [ ]:
class Engine:
    def start(self):
        print("Engine started")

class Car:
    def __init__(self):
        self.engine = Engine()

    def drive(self):
        self.engine.start()
        print("Car moving")

c = Car()
c.drive()

**Python Error Handling & Exceptions**

In [ ]:
x = 5
y = 0
result = x / y
print(result)

**Exception Handling with try, except**

In [ ]:
try:
    x = 5
    y = 0
    result = x / y
    print(result)
except:
    print("Something went wrong!")

**Catching Specific Exceptions: ZeroDivisionError**

In [ ]:
try:
    num = 10 / 0
except ZeroDivisionError as e:
    print("Error: ",e)

Error:  division by zero

**Custom Exceptions with Exception Object (as e)**

In [ ]:
class InsufficientBalanceError(Exception):
    pass

class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdraw(self, amount):
        if amount > self.balance:
            raise InsufficientBalanceError("Not enough balance")
        self.balance -= amount


try:
    acc = BankAccount(1000)
    acc.withdraw(1500)
except InsufficientBalanceError as e:
    print(e)

**Handling Multiple Errors Together**

In [ ]:
try:
    x = int(input("Enter number: "))
    y = int(input("Enter divisor: "))
    print(x / y)
except ValueError:
    print("ValueError: Invalid input")
except ZeroDivisionError:
    print("ZeroDivisionError: Cannot divide by zero")

**Raising Exceptions Manually**

In [ ]:
age = int(input("Enter age: "))

if age < 18:
    raise ValueError("Age must be 18 or above")

print("Access granted")

**RDBMS Basics with NeonDB + psycopg2**

**Install psycopg2-binary**

In [ ]:
pip install psycopg2-binary

**Connect to NeonDB**

In [ ]:
import psycopg2
from google.colab import userdata

# Database url sample
# 'postgresql://db_owner:npg_CU380tyXW@ep-34cdc-lake-ain12739-poler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

DATABASE_URL = userdata.get('neondb_url')

try:
    conn = psycopg2.connect(DATABASE_URL)
    cursor = conn.cursor()

    print("Connected to NeonDB successfully!")
    cursor.execute("SELECT version();")
    print(cursor.fetchone())
    cursor.execute("SELECT current_database();")
    print(cursor.fetchone())

except Exception as e:
    print("Connection failed:", e)
# finally:
#     if conn:
#         cursor.close()
#         conn.close()

**Create Student table**

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS student (
    student_id SERIAL PRIMARY KEY,
    roll_no VARCHAR(20) UNIQUE NOT NULL,
    name VARCHAR(100) NOT NULL
)
""")

conn.commit()
print("Student table created successfully")
cursor.execute("SELECT * FROM student")
print(cursor.fetchall())

**Create Subject table**

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS subject (
    subject_id SERIAL PRIMARY KEY,
    subject_code VARCHAR(20) UNIQUE NOT NULL,
    subject_name VARCHAR(100) NOT NULL
)
""")
conn.commit()
print("Subject table created successfully")
cursor.execute("SELECT * FROM subject")
print(cursor.fetchall())

Subject table created successfully
[]

**Marks Table with Foreign Keys**

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS marks (
    marks_id SERIAL PRIMARY KEY,
    student_id INT NOT NULL,
    subject_id INT NOT NULL,
    marks INT NOT NULL CHECK (marks >= 0 AND marks <= 100),

    CONSTRAINT fk_student
        FOREIGN KEY(student_id)
        REFERENCES student(student_id)
        ON DELETE CASCADE,

    CONSTRAINT fk_subject
        FOREIGN KEY(subject_id)
        REFERENCES subject(subject_id)
        ON DELETE CASCADE,

    CONSTRAINT unique_student_subject
        UNIQUE(student_id, subject_id)
)
""")
conn.commit()
print("Marks table created successfully")
cursor.execute("SELECT * FROM marks")
print(cursor.fetchall())

**Insert Data**

In [ ]:
# insert data to students table

cursor.execute(
    "INSERT INTO student (roll_no, name) VALUES (%s, %s)",
    ("R001", "Amit")
)

cursor.execute(
    "INSERT INTO student (roll_no, name) VALUES (%s, %s)",
    ("R002", "Riya")
)

# insert data to subjects table
cursor.execute(
    "INSERT INTO subject (subject_code, subject_name) VALUES (%s, %s)",
    ("MATH", "Mathematics")
)

cursor.execute(
    "INSERT INTO subject (subject_code, subject_name) VALUES (%s, %s)",
    ("SCI", "Science")
)

# insert data to marks table

cursor.execute(
    "INSERT INTO marks (student_id, subject_id, marks) VALUES (%s, %s, %s)",
    (1, 1, 85)
)

cursor.execute(
    "INSERT INTO marks (student_id, subject_id, marks) VALUES (%s, %s, %s)",
    (1, 2, 90)
)

cursor.execute(
    "INSERT INTO marks (student_id, subject_id, marks) VALUES (%s, %s, %s)",
    (2, 1, 78)
)

conn.commit()

**Query All Student Marks**

In [ ]:
cursor.execute("""
SELECT s.name,
       sub.subject_name,
       m.marks
FROM marks m
JOIN student s ON m.student_id = s.student_id
JOIN subject sub ON m.subject_id = sub.subject_id
ORDER BY s.name
""")

rows = cursor.fetchall()
for row in rows:
    print(row)

**Query marks on one student**

In [ ]:
cursor.execute("""
SELECT sub.subject_name, m.marks
FROM marks m
JOIN subject sub ON m.subject_id = sub.subject_id
WHERE m.student_id = %s
""", (1,))

print(cursor.fetchall())

**Constraint Failures**

**Duplicate Roll Number - UNIQUE**

In [ ]:
try:
  cursor.execute(
      "INSERT INTO student (roll_no, name) VALUES (%s, %s)",
      ("R001", "Duplicate")
  )
except Exception as e:
      conn.rollback()
      raise e

**Invalid Foreign Key**

In [ ]:
try:
  cursor.execute(
      "INSERT INTO marks (student_id, subject_id, marks) VALUES (%s, %s, %s)",
      (99, 1, 50)
  )
except Exception as e:
      conn.rollback()
      raise e

**Duplicate Student,Subject pair**

In [ ]:
try:
  cursor.execute(
    "INSERT INTO marks (student_id, subject_id, marks) VALUES (%s, %s, %s)",
    (1, 1, 88)
)

except Exception as e:
      conn.rollback()
      raise e

**Python requests Library**

In [ ]:
import requests

**First GET Request with Json request**

In [ ]:
url = "https://api.github.com/search/repositories"
params = {
    "q": "python",
    "sort": "stars"
}

response = requests.get(url, params=params)
print("StatusCode : ",response.status_code)
print(response.json())